@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.title {
  color: white;
  text-align: center;
  margin-top: 1rem;
  font-size: 70px;
  font-family: "Roboto Slab", serif;
}
.accessText {
  margin: 4rem 0rem 1rem 0rem;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
.keypad-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  gap: 1rem;
}
.keypad-screen {
  border: 1px solid;
  border-radius: 5px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  flex-wrap: wrap;
  max-width: 300px;
  background-color: white;
  padding: 0rem 1rem;
}
.keypad-text {
  font-size: 40px;
}
.keypad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.keypad-btn {
  width: 100%;
  font-size: 50px;
  background-color: white;
}
.keypad-btn:hover {
  background-color: hsla(0, 0%, 100%, 0.828);
  cursor: pointer;
}
