.accessText {
  margin: 3rem 0rem;
}
.keypad-container {
  display: flex;
  flex-direction: column;
}
.keypad-screen {
  border: 1px solid;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.keypad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.keypad-btn {
  width: 100%;
  font-size: 50px;
}
